body{
    margin: 0;
    background-color: #FFDDAD;
}
div{
    display: flex;
    flex-wrap: wrap;
}
nav{
    flex-basis: 100%;
    display: flex;
    padding:  2rem;
    background-color: #FF9F1C;
    align-items: center;
    box-sizing: border-box;
    gap: 5rem;
    border: #011627 solid 1rem;
    border-radius: 20px;
    margin: 0;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    color: #011627;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: #011627;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line: none;
    transition: 0.5s;
}
a:hover{
    transition: 0.5s;
    color: #2EC4B6;
}
header{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    color: #011627;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    padding: 1.5rem;
}
/* .container{
    margin: 0;
    width: 100%;
} */
footer{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:  2rem;
    background-color: #FF9F1C;
    align-items: center;
    box-sizing: border-box;
    border: #011627 solid 0.5rem;
    border-radius: 20px;
    margin: 0;
}
table, th, td {
    border: #011627 solid 0.2rem;
    border-collapse: collapse;

  }
  table {
    margin: 2em;
  }
